body, html{
    height:100%;
    background-repeat:no-repeat;
}

.header{
    text-align: center;
}
.header h1{
    font-size:200%;
    color:#333;
    margin-top:30px;
}
.header p{
    font-size:14px;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active >a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border-width:0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs > li > a::after{
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after{
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;

}

.tab-pane {
    padding: 15px 0;
}

.tab-content{
    margin: 10px;
    padding:20px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 10px;
    max-width: 30%;
}

.btn-align-right {
    float:right;
}

.vertical-center{
    margin: auto 0px;

}

.register-form{
    display:none;
}





